{% load static %}

<div class="fj">
    <div class="mu blf abk">
        <div class="na" style="background-image: url({% static 'img/bg.png' %});"></div>
        <div class="mv arx">
            <a href="profile/index.html">
                <img class="blg" src="{% static 'img/a6.png' %}">
            </a>

            <h6 class="mw">
                <a class="bjx" href="profile/index.html">Dave Gamache</a>
            </h6>

            <p class="abk">I wish i was a little bit taller, wish i was a baller, wish i had a girl…&nbsp;also.</p>
        </div>
    </div>
</div>