{% load static %}

<div class="fj">
    <div class="mu blf abk">
        {% if request.user.is_authenticated %}
        <div class="na" style="background-image: url({% static 'img/bg.png' %});"></div>
        <div class="mv arx">
            <a class="mb" href="{% url 'account:profile_detail' request.user.username %}">
                {% if user.profile.image %}
                    <img class="blg" src="{{request.user.profile.image.url}}">
                {% else %}
                    <img class="blg" src="{% static 'img/no-profile-image.png' %}">
                {% endif %}
            </a>

            <h6 class="mw">
                <a class="mb" href="{% url 'account:profile_detail' request.user.username %}">{{request.user.get_full_name}}</a>
            </h6>

            <p class="abk">{{request.user.profile.about|truncatechars:200}}</p>
        </div>
        {% else %}
        <div style="padding: 10px;text-align: center;">
            <button class="btn btn-block btn-primary">Login </button>  Or <button class="btn btn-block btn-info">Sign Up Now!</button>
        </div>
        {% endif %}
    </div>
</div>