{% load static %}

<div class="fj">
    {% for message in messages %}
    <div class="alert oj alert-dismissible ro sp" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        {{message|safe}}
    </div>
    {% endfor %}

    {% if sponsored_product %}
    <div class="mu abk ro sp">
        <div class="mv">
            <h6 class="abd">Sponsored</h6>
            <div data-grid="images" data-target-height="150">
                <a href="{% url 'store:single_product' sponsored_product.slug %}">
                    {% if sponsored_product.image %}
                    <img class="bkp" src="{{ sponsored_product.image.url }}" style="width: 240px; height: 225px; margin-bottom: 10px; margin-right: 0px; display: inline-block; vertical-align: bottom;">
                    {% else %}
                    <img class="bkp" src="{% static 'img/no-product-image.png' %}" style="width: 240px; height: 225px; margin-bottom: 10px; margin-right: 0px; display: inline-block; vertical-align: bottom;">
                    {% endif %}
                </a>
            </div>
            <p>
                <a href="{% url 'store:single_product' sponsored_product.slug %}">
                    <strong>{{ sponsored_product.name }}:</strong> {{sponsored_product.description|truncatechars:100}}
                </a>
            </p>
            <div class="row">
                <div class="col-md-6">
                    Price:
                    <strong>NGN {{sponsored_product.price}}</strong>
                </div>
                <div class="col-md-6">
                    <form action="{% url 'cart:cart_add' sponsored_product.id %}" method="post">
                        {% csrf_token %}
                        {{cart_quantity_form}}
                        <button class="btn btn-danger">Add to Cart</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="mu blj">
        <div class="mv">
            © 2018 Bootstrap
            <a href="#">About</a>
            <a href="#">Help</a>
            <a href="#">Terms</a>
            <a href="#">Privacy</a>
            <a href="#">Cookies</a>
            <a href="#">Ads </a>
            <a href="#">Info</a>
            <a href="#">Brand</a>
            <a href="#">Blog</a>
            <a href="#">Status</a>
            <a href="#">Apps</a>
            <a href="#">Jobs</a>
            <a href="#">Advertise</a>
        </div>
    </div>
</div>