{% extends 'base.html' %}
{% load static %}

{% block main_content %}
<div class="fm">

    <ul class="ca bkt bku abk">
        <li class="oq b acx product-item">
            <!-- <h4>Filter</h4> -->
            <!-- <br> -->
            <div>
                <form class="form-inline" method="GET" action=".">
                    <input type="hidden" name="q" value="{{q}}">
                    <div class="form-group">
                        <label class="sr-only" for="categorySearch">Category</label>
                        <div class="input-group">
                            <div class="input-group-addon">Category</div>
                            <select name="c" class="form-control" id="categorySearch">
                                <option value="all">All</option>
                                {% for category in categories %}
                                    <option value="{{category.slug}}" {% if c == category.slug %}selected{% endif %}>{{category.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">Sort by:</div>
                            <select name="l" class="form-control" id="locationSearch">
                                <option value="latest" {% if l == 'lastest' %}selected{% endif %}>Latest Product</option>
                                <option value="nearby_store" {% if l == 'nearby_store' %}selected{% endif %}>Store Nearby</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="latitude">Latitude:</label>
                        <input id="id_latitude" name="lat" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="longitude">Longitude:</label>
                        <input id="id_longitude" name="lon" type="text" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Sort!</button>
                </form>
            </div>  
        </li>
        {% for product in product_list %}
            {% include 'store/product_item_template.html' %}
        {% empty %}
            <li class="oq b acx product-item">
                No product found, try again later!
            </li>
        {% endfor %}
    </ul>
</div>
<script language="javascript" type="text/javascript">
    navigator.geolocation.getCurrentPosition(function (position){
        var lat = document.getElementById('id_latitude');
        var lon = document.getElementById('id_longitude');

        lat.value = position.coords.latitude;
        lon.value = position.coords.longitude;
        console.log(position.coords)
    });
</script>
{% endblock %}