<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <title>

        Home · Application theme · Official Bootstrap Themes

    </title>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>

    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="css/font-awesome.css" rel="stylesheet">

    <link href="css/toolkit.css" type="text/css" rel="stylesheet">

    <link href="css/application.css" rel="stylesheet">

    <link href="css/style.css" rel="stylesheet">

    <style>
        /* note: this is a hack for ios iframe for bootstrap themes shopify page */

        /* this chunk of css is not part of the toolkit :) */

        body {
            width: 1px;
            min-width: 100%;
            *width: 100%;
        }
    </style>

</head>


<body class="bjy">

    <div class="bkk" id="app-growl"></div>

    <nav class="header ck mo zq mt qh app-navbar">

        <a class="e" href="index.html">
            <img src="img/brand-white.png" alt="brand">
        </a>

        <button class="mk blk se" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="ml"></span>
        </button>

        <div class="collapse f" id="navbarResponsive">
            <ul class="navbar-nav adn">
                <li class="md active">
                    <a class="mb" href="index.html">Home
                        <span class="zt">(current)</span>
                    </a>
                </li>
                <li class="md">
                    <a class="mb" href="profile.html">Profile</a>
                </li>
                <li class="md">
                    <a class="mb" href="message.html">Messages</a>
                </li>
                <li class="md">
                    <a class="mb" href="store.html">My Store</a>
                </li>
                <li class="md">
                    <a class="mb" href="orders.html">My Order</a>
                </li>

                <!-- <li class="md se">
          <a class="mb" href="notifications/index.html">Notifications</a>
        </li> -->
                <!-- <li class="md se">
          <a class="mb" data-action="growl">Growl</a>
        </li> -->
                <li class="md se">
                    <a class="mb" href="login/index.html">Logout</a>
                </li>

            </ul>

            <form class="kl zc ro sk">
                <input class="form-control" data-action="grow" placeholder="Search" type="text">
            </form>

            <ul id="#js-popoverContent" class="nav navbar-nav zc aah ro sk">
                <li class="md">
                    <a class="g mb" href="cart.html">
                        <i class="fa fa-2x fa-cart-arrow-down" aria-hidden="true"></i>
                        <span>2</span>
                    </a>
                </li>
                <li class="md aax">
                    <div class="dropdown">
                        <button class="cg bll blm bkf dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <img class="rl" src="img/a6.png">
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li>
                                <a class="dropdown-item" href="edit_profile.html">Edit Profile</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="edit_profile.html">Logout</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
            <ul class="nav navbar-nav ro" id="js-popoverContent">
                <li class="md">
                    <a class="mb" href="#" data-action="growl">Edit Profile</a>
                </li>
                <li class="md">
                    <a class="mb" href="login/index.html">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="by acy adh">
        <div class="dp">
            <div class="main-dashboard-page__col">

                <div class="col-sm-12 col-md-12 ">
                    <h3 class="message title">Messages</h3>
                    <div class="main-dashboard-page">
                        <div class="row message-box__container">
                            <div class="col-md-4">
                                <ul class="message-list">
                                    <li class="row message-item unread-message">
                                        <div class="message-item__image">
                                            <img class="message-user__img" src="images/p2.png">
                                        </div>
                                        <div class="message-item__content">
                                            <h4>Peter Olayinka</h4>
                                            <p>Hello, do you have stocks?</p>
                                        </div>
                                    </li>
                                    <li class="row message-item">
                                        <div class="message-item__image">
                                            <img class="message-user__img" src="images/p2.png">
                                        </div>
                                        <div class="message-item__content">
                                            <h4>Tolani Ayaoba</h4>
                                            <p>Hello, do you have stocks?</p>
                                        </div>
                                    </li>
                                    <li class="row message-item">
                                        <div class="message-item__image">
                                            <img class="message-user__img" src="images/p2.png">
                                        </div>
                                        <div class="message-item__content">
                                            <h4>Boluwafife Adeyemi</h4>
                                            <p>Hello, do you have stocks?</p>
                                        </div>
                                    </li>
                                    <li class="row message-item unread-message">
                                        <div class="message-item__image">
                                            <img class="message-user__img" src="images/p2.png">
                                        </div>
                                        <div class="message-item__content ">
                                            <h4>Arinola Adeyinka</h4>
                                            <p>Hello, do you have stocks?</p>
                                        </div>
                                    </li>
                                    <li class="row message-item unread-message">
                                        <div class="message-item__image">
                                            <img class="message-user__img" src="images/p2.png">
                                        </div>
                                        <div class="message-item__content">
                                            <h4>Adeola Tunji</h4>
                                            <p>Hello, do you have stocks?</p>
                                        </div>
                                    </li>
                                    <li class="row message-item active-message">
                                        <div class="message-item__image">
                                            <img class="message-user__img" src="images/p2.png">
                                        </div>
                                        <div class="message-item__content">
                                            <h4>Adebanke Adeniyi</h4>
                                            <p>Hello, do you have stocks?</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-8">
                                <div class="message-content__box">
                                    <div class="message-box">
                                        <h3 class="message-content__title">Conversation with Adebanke Adeniyi</h3>
                                        <ul class="row">
                                            <li class="row message-content__item left-message__content">
                                                <div class="message-content__image">
                                                    <img class="message-user__img" src="images/p2.png">
                                                </div>
                                                <div class="message-content__content">
                                                    <h4 class="message-content__user">Adebanke Adeniyi</h4>
                                                    <div class="message-content__text">Hello, do you have stocks?</div>
                                                </div>
                                            </li>
                                            <li class="row message-content__item right-message__content">
                                                <div class="message-content__image">
                                                    <img class="message-user__img" src="images/p2.png">
                                                </div>
                                                <div class="message-content__content">
                                                    <h4 class="message-content__user">Adebanke Adeniyi</h4>
                                                    <div class="message-content__text">Hello, do you have stocks?</div>
                                                </div>
                                            </li>
                                            <li class="row message-content__item right-message__content">
                                                <div class="message-content__image">
                                                    <img class="message-user__img" src="images/p2.png">
                                                </div>
                                                <div class="message-content__content">
                                                    <h4 class="message-content__user">Adebanke Adeniyi</h4>
                                                    <div class="message-content__text">Hello, do you have stocks?</div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="message-text__field">
                                        <textarea class="message-text__box"></textarea>
                                        <button type="submit" class="btn btn-danger message-text__send">
                                            Send
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fj">
                <div class="alert oj alert-dismissible ro sp" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <a class="oe" href="profile/index.html">Visit your profile!</a> Check your self, you aren't looking well.
                </div>

                <div class="mu abk ro sp">
                    <div class="mv">
                        <h6 class="abd">Sponsored</h6>
                        <div data-grid="images" data-target-height="150">
                            <img class="bkp" data-width="640" data-height="640" data-action="zoom" src="assets/img/instagram_2.jpg" style="width: 240px; height: 225px; margin-bottom: 10px; margin-right: 0px; display: inline-block; vertical-align: bottom;">
                        </div>
                        <p>
                            <strong>It might be time to visit Iceland.</strong> Iceland is so chill, and everything looks cool here.
                            Also, we heard the people are pretty nice. What are you waiting for?</p>
                        <div class="row">
                            <div class="col-md-6">
                                Price:
                                <strong>NGN 600</strong>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-danger">Add to Cart</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mu blj">
                    <div class="mv">
                        © 2018 Bootstrap
                        <a href="#">About</a>
                        <a href="#">Help</a>
                        <a href="#">Terms</a>
                        <a href="#">Privacy</a>
                        <a href="#">Cookies</a>
                        <a href="#">Ads </a>
                        <a href="#">Info</a>
                        <a href="#">Brand</a>
                        <a href="#">Blog</a>
                        <a href="#">Status</a>
                        <a href="#">Apps</a>
                        <a href="#">Jobs</a>
                        <a href="#">Advertise</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/chart.js"></script>
    <script src="js/toolkit.js"></script>
    <script src="js/application.js"></script>
    <script src="js/sky_pilot.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script>
        // execute/clear BS loaders for docs
        $(function () { while (window.BS && window.BS.loader && window.BS.loader.length) { (window.BS.loader.pop())() } })
    </script>
</body>

</html>