{% load static %}

<div class="bkk" id="app-growl"></div>

<nav class="header ck mo zq mt qh app-navbar">

    <a class="e" href="/">
        <img src="{% static 'img/brand-white.png' %}" alt="brand">
    </a>

    <button class="mk blk se" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="ml"></span>
    </button>

    <div class="collapse f" id="navbarResponsive">
        <ul class="navbar-nav adn">
            <li class="md active">
                <a class="mb" href="/">Home
                    <span class="zt">(current)</span>
                </a>
            </li>
            <li class="md">
                <a class="mb" href="profile.html">Profile</a>
            </li>
            <li class="md">
                <a class="mb" href="message.html">Messages</a>
            </li>
            <li class="md">
                <a class="mb" href="store.html">My Store</a>
            </li>
            <li class="md">
                <a class="mb" href="orders.html">My Order</a>
            </li>

            <!-- <li class="md se">
          <a class="mb" href="notifications/index.html">Notifications</a>
        </li> -->
            <!-- <li class="md se">
          <a class="mb" data-action="growl">Growl</a>
        </li> -->
            <li class="md se">
                <a class="mb" href="login/index.html">Logout</a>
            </li>

        </ul>

        <form class="kl zc ro sk">
            <input class="form-control" data-action="grow" placeholder="Search" type="text">
        </form>

        <ul id="#js-popoverContent" class="nav navbar-nav zc aah ro sk">
            <li class="md">
                <a class="g mb" href="{% url 'cart:cart_detail' %}">
                    <i class="fa fa-2x fa-cart-arrow-down" aria-hidden="true"></i>
                    {% if cart|length > 0 %}
                    <span style="color:fff; font-weight: 900;">{{cart|length}}</span>
                    {% endif %}
                </a>
            </li>
            <li class="md aax">
                <div class="dropdown">
                    <button class="cg bll blm bkf dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <img class="rl" src="{% static 'img/a6.png' %}">
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li>
                            <a class="dropdown-item" href="edit_profile.html">Edit Profile</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="edit_profile.html">Logout</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <ul class="nav navbar-nav ro" id="js-popoverContent">
            <li class="md">
                <a class="mb" href="#" data-action="growl">Edit Profile</a>
            </li>
            <li class="md">
                <a class="mb" href="login/index.html">Logout</a>
            </li>
        </ul>
    </div>
</nav>