{% load static %}

<div class="bkk" id="app-growl"></div>

<nav class="header ck mo zq mt qh app-navbar">

    <a class="e" href="/">
        <img src="{% static 'img/brand-white.png' %}" alt="brand">
    </a>

    <button class="mk blk se" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="ml"></span>
    </button>

    <div class="collapse f" id="navbarResponsive">
        <ul class="navbar-nav adn">
            {% if request.user.is_authenticated %}
            <li class="md active">
                <a class="mb" href="/">Home
                    <span class="zt">(current)</span>
                </a>
            </li>
            <li class="md">
                <a class="mb" href="{% url 'account:profile_detail' request.user.username %}">Profile</a>
            </li>
            <li class="md">
                <a class="mb" href="{% url 'message:message_list' %}">Messages</a>
            </li>
            <li class="md">
                <a class="mb" href="{% url 'store:store_orders' %}">My Store</a>
            </li>
            <li class="md">
                <a class="mb" href="{% url 'cart:user_orders' %}">My Order</a>
            </li>
             {% endif %}
            <li class="md se">
                <a class="g mb" href="{% url 'cart:cart_detail' %}">
                    <i class="fa fa-2x fa-cart-arrow-down" aria-hidden="true"></i>
                    {% if cart|length > 0 %}
                    <span style="color:fff; font-weight: 900;">{{cart|length}}</span>
                    {% endif %}
                </a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="md se">
                <a class="mb" href="{% url 'account:edit_profile' request.user.username %}">Edit Profile</a>
            </li>
            <li class="md se">
                <a class="mb" href="{% url 'account:logout' %}">Logout</a>
            </li>
            {% endif %}
        </ul>

        <form class="kl zc ro sk" method="GET" action="{% url 'search' %}">
            <input class="form-control" data-action="grow" name="q" placeholder="Search" type="text">
        </form>
        <ul id="#js-popoverContent" class="nav navbar-nav zc aah ro sk">
            <li class="md">
                <a class="g mb" href="{% url 'cart:cart_detail' %}">
                    <i class="fa fa-2x fa-cart-arrow-down" aria-hidden="true"></i>
                    {% if cart|length > 0 %}
                    <span style="color:fff; font-weight: 900;">{{cart|length}}</span>
                    {% endif %}
                </a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="md aax">
                <div class="dropdown">
                    <button class="cg bll blm bkf dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        {% if user.profile.image %}
                            <img class="rl" src="{{request.user.profile.image.url}}">
                        {% else %}
                            <img class="rl" src="{% static 'img/no-profile-image.png' %}">
                        {% endif %}
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="left: initial; right: 0;">
                        <li>
                            <a class="dropdown-item" href="{% url 'account:edit_profile' request.user.username %}">Edit Profile</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'account:logout' %}">Logout</a>
                        </li>
                    </ul>
                </div>
            </li>
            {% else %}
            <li>
                <div>
                    <a href="{% url 'account:login' %}">
                        <button class="btn btn-primary">Login </button> 
                    </a>
                    <span style="color: #fff;">Or</span>
                    <a href="{% url 'account:signup' %}">
                        <button class="btn btn-info">Sign Up</button>
                    </a>
                </div>
            </li>
            {% endif %}
        </ul>
        <!-- <ul class="nav navbar-nav ro" id="js-popoverContent">
            <li class="md">
                <a class="mb" href="#" data-action="growl">Edit Profile</a>
            </li>
            <li class="md">
                <a class="mb" href="login/index.html">Logout</a>
            </li>
        </ul> -->
    </div>
</nav>